.feedback-div, .feedback-btn, .update-btn {
  display: inline-block;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.rotating {
  animation: rotating 2s linear infinite;
}
