<div class="feedback-div">
  <div class="feedback-btn clickable" (click)="wantFeedback()" i18n>
    Any comment, idea, suggestion, or bug?
  </div>
  <div class="update-btn" (click)="installUpdate()" *ngIf="updateAvailable" [ngClass]="{'clickable': (alltomp3.numberActive === 0)}">
    <div class="tooltip">
      <i class="icon-cycle"></i>
      <span class="tooltiptext" i18n>An update has been downloaded and will be installed at the next app launch<span *ngIf="alltomp3.numberActive === 0">, or click to relaunch the app now</span></span>
    </div>
  </div>
</div>
