.feedback-div {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  background-color: rgba(30, 30, 30, 0.7);
  border-top: 1px solid #ff8a65;
  font-weight: 100;
  /*font-variant: small-caps;*/
}
