
.icon-beamed-note:before { content: '\e800'; } /* '' */
.icon-bug:before { content: '\e801'; } /* '' */
.icon-ccw:before { content: '\e802'; } /* '' */
.icon-circle:before { content: '\e803'; } /* '' */
.icon-circular-graph:before { content: '\e804'; } /* '' */
.icon-clapperboard:before { content: '\e805'; } /* '' */
.icon-cloud:before { content: '\e806'; } /* '' */
.icon-code:before { content: '\e807'; } /* '' */
.icon-cog:before { content: '\e808'; } /* '' */
.icon-controller-next:before { content: '\e809'; } /* '' */
.icon-controller-paus:before { content: '\e80a'; } /* '' */
.icon-controller-play:before { content: '\e80b'; } /* '' */
.icon-controller-stop:before { content: '\e80c'; } /* '' */
.icon-credit-card:before { content: '\e80d'; } /* '' */
.icon-cross:before { content: '\e80e'; } /* '' */
.icon-cw:before { content: '\e80f'; } /* '' */
.icon-cycle:before { content: '\e810'; } /* '' */
.icon-dot-single:before { content: '\e811'; } /* '' */
.icon-dots-three-horizontal:before { content: '\e812'; } /* '' */
.icon-dots-three-vertical:before { content: '\e813'; } /* '' */
.icon-dots-two-horizontal:before { content: '\e814'; } /* '' */
.icon-dots-two-vertical:before { content: '\e815'; } /* '' */
.icon-download:before { content: '\e816'; } /* '' */
.icon-drive:before { content: '\e817'; } /* '' */
.icon-edit:before { content: '\e818'; } /* '' */
.icon-email:before { content: '\e819'; } /* '' */
.icon-emoji-flirt:before { content: '\e81a'; } /* '' */
.icon-emoji-happy:before { content: '\e81b'; } /* '' */
.icon-emoji-neutral:before { content: '\e81c'; } /* '' */
.icon-emoji-sad:before { content: '\e81d'; } /* '' */
.icon-export:before { content: '\e81e'; } /* '' */
.icon-eye-with-line:before { content: '\e81f'; } /* '' */
.icon-eye:before { content: '\e820'; } /* '' */
.icon-flash:before { content: '\e821'; } /* '' */
.icon-folder-music:before { content: '\e822'; } /* '' */
.icon-folder:before { content: '\e823'; } /* '' */
.icon-gauge:before { content: '\e824'; } /* '' */
.icon-globe:before { content: '\e825'; } /* '' */
.icon-heart-outlined:before { content: '\e826'; } /* '' */
.icon-heart:before { content: '\e827'; } /* '' */
.icon-help-with-circle:before { content: '\e828'; } /* '' */
.icon-help:before { content: '\e829'; } /* '' */
.icon-home:before { content: '\e82a'; } /* '' */
.icon-hour-glass:before { content: '\e82b'; } /* '' */
.icon-infinity:before { content: '\e82c'; } /* '' */
.icon-install:before { content: '\e82d'; } /* '' */
.icon-lab-flask:before { content: '\e82e'; } /* '' */
.icon-link:before { content: '\e82f'; } /* '' */
.icon-list:before { content: '\e830'; } /* '' */
.icon-mail:before { content: '\e831'; } /* '' */
.icon-message:before { content: '\e832'; } /* '' */
.icon-music:before { content: '\e833'; } /* '' */
.icon-network:before { content: '\e834'; } /* '' */
.icon-new:before { content: '\e835'; } /* '' */
.icon-note:before { content: '\e836'; } /* '' */
.icon-save:before { content: '\e837'; } /* '' */
.icon-shuffle:before { content: '\e838'; } /* '' */
.icon-star-outlined:before { content: '\e839'; } /* '' */
.icon-star:before { content: '\e83a'; } /* '' */
.icon-typing:before { content: '\e83b'; } /* '' */
.icon-uninstall:before { content: '\e83c'; } /* '' */
.icon-upload:before { content: '\e83d'; } /* '' */
.icon-video:before { content: '\e83e'; } /* '' */
.icon-vinyl:before { content: '\e83f'; } /* '' */
.icon-warning:before { content: '\e840'; } /* '' */
.icon-app-store:before { content: '\e841'; } /* '' */
.icon-facebook-with-circle:before { content: '\e842'; } /* '' */
.icon-facebook:before { content: '\e843'; } /* '' */
.icon-github-with-circle:before { content: '\e844'; } /* '' */
.icon-grooveshark:before { content: '\e845'; } /* '' */
.icon-mail-with-circle:before { content: '\e846'; } /* '' */
.icon-soundcloud:before { content: '\e847'; } /* '' */
.icon-spotify-with-circle:before { content: '\e848'; } /* '' */
.icon-spotify:before { content: '\e849'; } /* '' */
.icon-vimeo-with-circle:before { content: '\e84a'; } /* '' */
.icon-vimeo:before { content: '\e84b'; } /* '' */
.icon-windows-store:before { content: '\e84c'; } /* '' */
.icon-youtube-with-circle:before { content: '\e84d'; } /* '' */
.icon-youtube:before { content: '\e84e'; } /* '' */
.icon-github:before { content: '\e84f'; } /* '' */
.icon-deezer-square:before { content: '\e850'; } /* '' */
.icon-deezer:before { content: '\e851'; } /* '' */