<div class="request-div" *ngIf="!request.aborted" (click)="openFile()" [ngClass]="{'clickable': request.finished}">
  <div class="request--icon" [ngStyle]="{'background-image': 'url(' + request.cover + ')'}">
    <div class="request--progress--div" *ngIf="!request.finished" (click)="abort()" (mouseenter)="coverMouseEnter()" (mouseleave)="coverMouseLeave()">
      <div class="request--progress" *ngIf="!coverOver">{{ request.progress }}%</div>
      <div class="request--abort" *ngIf="coverOver">
        <div class="abort--icon">
          <i class="icon-cross"></i>
        </div>
        <div class="abort--legend">
          Abort
        </div>
      </div>
      <div class="request--eta"></div>
    </div>
  </div>
  <div class="request--core">
    <div class="request--title">{{ request.title }}</div>
    <div class="request--artist">{{ request.artistName }}</div>
    <div class="request--length">{{ request.length }}</div>
  </div>
</div>
<app-request *ngFor="let r of request.subrequests" [request]="r"></app-request>
