<div class="request-div" *ngIf="!request.aborted" (click)="clickRequest()" [ngClass]="{'clickable': clickable()}">
  <div class="request--icon" [ngStyle]="{'background-image': 'url(' + request.cover + ')'}">
    <div class="request--progress--div" (mouseenter)="coverMouseEnter()" (mouseleave)="coverMouseLeave()" [ngClass]="{'clickable': (abortable || openable()), 'displayed': (!request.finished || (coverOver && openable()))}">
      <div *ngIf="!request.finished">
        <div class="request--progress" *ngIf="!abortable || !coverOver">{{ request.progress }}%</div>
        <div class="request--abort" (click)="abort()" *ngIf="abortable && coverOver">
          <div class="abort--icon">
            <i class="icon-cross"></i>
          </div>
          <div class="abort--legend" i18n>
            Abort
          </div>
        </div>
      </div>
      <div class="request--open" *ngIf="openable() && coverOver" (click)="open($event)">
        <div class="abort--icon">
          <i class="icon-beamed-note"></i>
        </div>
        <div class="abort--legend">
          Play
        </div>
      </div>
      <div class="request--eta"></div>
    </div>
  </div>
  <div class="request--core">
    <div class="request--title">{{ request.title }}</div>
    <div class="request--artist">{{ request.artistName }}</div>
    <div class="request--length">{{ request.length }}</div>
  </div>
</div>
<div *ngIf="subOpened && !request.aborted">
  <app-request *ngFor="let r of request.subrequests" [request]="r" [abortable]="false"></app-request>
</div>
