/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@typopro/web-source-sans-pro/TypoPRO-SourceSansPro.css';
@import './assets/css/entypo.css';

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'TypoPRO Source Sans Pro';
  background-color: #111;
  color: white;
  padding-bottom: 30px;
}
.legend {
  font-size: 12px;
  color: #888;
  font-weight: 100;
  margin-top: 4px;
  margin-left: 16px;
  font-style: italic;
}
.label {
  display: inline-block;
  font-size: 0.8em;
  background-color: #222;
  border: 1px solid #777;
  border-radius: 3px;
  padding: 0.2em;
  cursor: pointer;
}
.clickable {
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  top: 125%;
  left: 50%;
  margin-left: -257px;

  opacity: 0;

  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the bottom of the tooltip */
  left: 95%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
