/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@typopro/web-source-sans-pro/TypoPRO-SourceSansPro.css';
@import './assets/css/entypo.css';

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'TypoPRO Source Sans Pro';
  background-color: #111;
  color: white;
  padding-bottom: 30px;
}
.legend {
  font-size: 14px;
  color: #ddd;
}
.label {
  display: inline-block;
  font-size: 0.8em;
  background-color: #222;
  border: 1px solid #777;
  border-radius: 3px;
  padding: 0.2em;
  cursor: pointer;
}
