.body {
  max-width: 550px;
  margin: 0 auto;
}

.title {
  text-align: center;
}
.input-div {
  margin: 20px;
}
.input-main {
  width: calc(100% - 2px);
  background: none;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #ff8a65;
  padding: 1px;
  color: white;
  height: 30px;
  border-right: none;
  font-size: 16px;
  font-family: 'TypoPRO Source Sans Pro';
}
.input-main:focus {
  outline: none;
}

.requests-div {
  margin: 20px;
}

.help-div {
  margin: 20px;
  margin-top: 30px;
  text-align: justify;
}
.help-div b {
  color: #ff8a65;
  font-style: italic;
}
.help-div ul {
  list-style-type: none;
  color: lightgray;
  padding: 0px;
}
.help-div li {
  border: 1px solid #ff8a65;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.help-div li:hover {
  background-color: #222;
}
